attrs==19.3.0
ddt==1.2.2
importlib-metadata==1.4.0
more-itertools==8.1.0
packaging==20.0
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.2
pytest-html==2.0.1
pytest-metadata==1.8.0
pytest-ordering==0.6
selenium==3.141.0
six==1.13.0
urllib3==1.25.7
wcwidth==0.1.8
zipp==0.6.0
